body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

span {
    color:#72459B ;
}

/* Navbar */
.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}

.nav-link{
    font-size: 16px;
}

/* color */
.btn-primary{
    background-color: #72459B !important ;
    border: none!important;
}

.bg-dark{
    background-color: #FFE9D3 !important;
}
.text-warning {
    color: #72459B !important;
}

.fw-bold{
    color: #3B3F99;
}

/* Hero */
#hero {
  display: flex;
  flex-direction: column;
  min-height: 680px;
  width: 100%;
  text-align: center;
  background: url(../public/images/hero.jpg);
  background-position: center;
  object-fit: cover;
  padding: 0 10%;
  background-size: cover;
}

.logo {
    width: auto;
    height: 48px;
}

.headline{
    background-color: #72459B;
    padding: 5px 10px;
}
.carousel-inner{
    height: 600px;
    width: auto;
}


