* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-side {
    padding: 15%;
}

.left-side h1 {
    color: rgb(101, 100, 100);
}

.left-side .welcome-text {
    margin-bottom: 7%;
}

.left-side .input-label {
    color: gray;
    margin-bottom: 1%;
}

.left-side button {
    width: 80%;
    color: #ffffff;
    background-color: #FDCA98;
    outline: none;
    margin-top: 15%;
}

.left-side .input-group {
    width: 80%;
    height: fit-content;
}

.right-side {
    /* display: flex;
    justify-content: flex-end; */
}

.right-side .media {
    width: 90%;
    height: 602px;
    background-color: #FDCA98 ;
    transform: translateX(13%);
}

.right-side .media .family-picture {
    width: 60%;
    transform: translate(-40%, 70%);
}

.right-side .media .logo {
    display: flex;
    transform: translate(60%, -250%);
    width: 50%;
}

.right-side .media .logo img {
    width: 40%;
}

.right-side .media .logo .logo-name {
    font-size: 2em;
}

.right-side .media .logo .logo-name .purple {
    color: purple;
    margin-top: -20%;
    font-weight: 500;
}